<br><br><br>
<%= link_to "Sample Table", sample_table_dashboards_path %>
<br><br><br>
<h3>Step#1</h3>
<%= @step1.html_safe %>
<h3>Step#2</h3>
<%= @step2.html_safe %>
<h3>Step#3</h3>
<% @step3.each do |data| %>
    <%= data %><br>
<% end %>
<h3>Step#4</h3>
<% @step4.each do |data| %>
    <%= data %><br>
<% end %>



